<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.restassuredtraining.com.Assertions"/>
      <class name="com.restassuredtraining.com.JDBC"/>
      <class name="com.restassuredtraining.com.validateJSONSchema"/>
      <class name="com.restassuredtraining.com.validateXSDSchema"/>
      <class name="com.restassuredtraining.com.basicAuth"/>
      <class name="com.restassuredtraining.com.GetRequest"/>
      <class name="com.restassuredtraining.com.DataDrivenTest"/>
      <class name="com.restassuredtraining.com.SpecBuilder"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
